<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome to Skrapp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Inicia Sesion</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="usuario">
          <ion-item>
            <ion-input label="User" labelPlacement="floating" placeholder="Nombre Usuario"
              formControlName="user"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Pass" labelPlacement="floating" placeholder="Contraseña"
              formControlName="pass"></ion-input>
          </ion-item>
        </form>
      </ion-card-content>

      <ion-button shape="round" color="success" (click)="Ingreso()" fill="outline">Ingresar</ion-button>
    </ion-card>
  </div>
</ion-content>