<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Skrapp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Inicia Sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="usuario">
          <ion-item>
            <ion-input formControlName="email" labelPlacement="floating">
              <div slot="label">Email</div>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" formControlName="password" labelPlacement="floating">
              <div slot="label">Contraseña</div>
            </ion-input>
          </ion-item>
        </form>
      </ion-card-content>

      <ion-button shape="round" color="success" (click)="Ingreso()" fill="outline"
        [disabled]="!usuario.valid">Ingresar</ion-button>
    </ion-card>
  </div>
</ion-content>