<ion-content color="primary" [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h1>Bienvenido a <ion-card-title class="app-title">Skrapp</ion-card-title></h1>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="usuario">
          <ion-item>
            <ion-input formControlName="email" labelPlacement="floating">
              <div slot="label">Email</div>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" formControlName="password" labelPlacement="floating">
              <div slot="label">Contraseña</div>
            </ion-input>
          </ion-item>
        </form>
      </ion-card-content>

      <ion-button shape="round" (click)="Ingreso()" fill="solid" [disabled]="!usuario.valid">Ingresar</ion-button>
    </ion-card>
  </div>
</ion-content>