<ion-header color="dark">
  <ion-toolbar>
    <ion-title class="app-title">
      Skrapp
    </ion-title>
    <ion-title slot="end" class="profesor-title">Profesor/a {{ nombreProfesor }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="container">
    <ion-card class="data-card">
      <ion-card-header>
        <ion-card-title>
          <h1>
            {{ nombreCurso }}
          </h1>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="info-section">
          <p><strong>Código:</strong> {{ codigo }}</p>
          <p><strong>Sección:</strong> {{ seccion }}</p>
          <p><strong>Institución:</strong> {{ institucion }}</p>
          <p><strong>Fecha y Hora:</strong> {{ fechaHora }}</p>
          <p><strong>Profesor:</strong> {{ nombreProfesor }}</p>
        </div>
        <div class="qr-container">
          <qrcode [qrdata]="codigoQR"></qrcode>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>