.profesor-title {
    font-size: 1.6em;
    font-weight: bold;
    color: gold;
}


.container {
    display: flex;
    flex-direction: column;
    /* Asegura que los elementos se apilen verticalmente */
    align-items: center;
    /* Centra el contenido */
    padding: 16px;
    /* Añade espacio alrededor */
}

ion-card {
    width: 100%;
    max-width: 600px;
    /* Limita el ancho máximo del card */
    margin-bottom: 16px;
    /* Espacio entre los cards */
    --ion-background-color: #1e1e1e;
    /* Color de fondo del card */
    color: #ffffff;
    /* Color del texto */
    border-radius: 12px;
    /* Bordes redondeados */
}

.info-section p {
    margin: 8px 0;
    /* Margen entre las líneas de información */
}

.qrcode {
    text-align: center;
    /* Centra el contenido del QR */
}

qrcode {
    width: 100%;
    /* Asegura que el QR ocupe todo el ancho */
    max-width: 300px;
    /* Limita el ancho del QR */
    margin: auto;
    /* Centra el QR */
}