.app-title {
    font-size: 1.6em;
    font-weight: bold;
    color: #ffffff;
}

.profesor-title {
    font-size: 1.2em;
    font-weight: bold;
    color: gold;
}

ion-toolbar {
    padding: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

ion-card {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 16px;
    --ion-background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 25px;
}

ion-card-title h1 {
    font-size: 2.0em;
    font-weight: bold;
    color: gold;
    margin-bottom: 8px;
    text-align: center;
}

.info-section p {
    margin: 8px 0;
}

.qr-container {
    text-align: center;
}

qrcode {
    width: 100%;
    max-width: 900px;
    margin: auto;
}