<ion-header color="dark">
  <ion-toolbar>
    <ion-title class="profesor-title">Profesor/a {{ nombreProfesor }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ nombreCurso }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="info-section">
          <p><strong>Código:</strong> {{ codigo }}</p>
          <p><strong>Sección:</strong> {{ seccion }}</p>
          <p><strong>Institución:</strong> {{ institucion }}</p>
          <p><strong>Fecha y Hora:</strong> {{ fechaHora }}</p>
          <p><strong>Profesor:</strong> {{ nombreProfesor }}</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="qrcode">
      <ion-card-header>
        <ion-card-title>Código QR</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <qrcode [qrdata]="codigoQR"></qrcode>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>